*{
  margin: 1px;
  padding: 0;
}
main{
  border: 1px solid blue;
  height: 525px;
  margin:auto;
  margin: top 10px;
  width: 800px;
}

header{
  border: 1px solid red;
  height: 150px;
}

nav{
  border: 1px solid blue;
  height: 20px;
}

section{
  border: 1px solid #3BCBA1;
  height: 300px;
  width: 540px;
  float: left;
}

aside{
  border: 1px solid #3BCBA1;
  height: 300px;
  width: 250px;
  float: right;
}

footer{
  border: 1px solid #3BCBA1;
  height: 40px;
  clear: both;
}
