*{
  margin: 1px;
  padding: 0;
}
main{
  height: 780px;
  margin: auto;
  margin-top: 10px;
  width: 800px;
}

header{
    height: 165px;
  border-bottom-left-radius: 15px;
  border-radius: 15px;
}

header img {
  width: 100%;
  border-bottom-left-radius: 15px;
  border-radius: 15px;
}

nav{
  display: flex;
  justify-content: space-around;
  height: 50px;
  background-color: #1B4A48;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 15px;
}

nav ul {
list-style: none;
padding-top: 10px;
}

nav ul li{
  display: flex;
  justify-content: space-around;
  display: inline;
  color: #f1f3f3;
  padding: 10px 30px 10px 30px;
  font-size:20px;
}



section{
  border: 6px;
  height: 360px;
  width: 500px;
  display: inline-block;
  border-radius: 15px;

}
section #art2{
  float: left;
}
section h1{
  text-align: center;
}
section article{
  background-color: #F6f5A5;
  border-radius;
  width:auto;
  border-radius: 15px;
  height: 170px;
  margin-bottom:10px;
}
section img{
  height: 120px;
  float: right;
  border-radius:15px;

}

aside{
  background-color: #496E6C;
  height: 340px;
  width: 270px;
  border-radius: 15px;
  float: right;
  color: #F8FAFA;
  margin: 6px;
}

aside header {
  text-align:center:
  color: #ffffff;
  background-color: #1B4A48;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 30px;
}
aside from{
  column;
  margin:18px;
}
footer{
  height: 64px;
  clear: both;
  background-color: #1B4A48;
  border-radius: 20px;
}
footer p{
  text-align: center;
  color: #AFB9B8;
}
